@font-face {
    font-family: main;
    src: url("../fonts/Vazirmatn-Black.woff2");
    src: url(../fonts/Vazirmatn-Bold.woff2);
    src: url("../fonts/Vazirmatn-ExtraBold.woff2");
    src: url("../fonts/Vazirmatn-ExtraLight.woff2");
}